<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gaayathri.logindemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LoginDemo"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label, theme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SecondActivity" />
        <activity
            android:name=".RegistrationActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SellActivity"
            android:parentActivityName=".SecondActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ExpandedView" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".MyMaterialsActivity" />
        <activity android:name=".MyFavActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".EditMyMaterialsActivity" />
        <activity android:name=".EntryActivity" />

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".EditMyProfileActivity"/>

        <service android:name="org.chat21.android.notifications.ChatFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_small" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
        notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue_500" />

        <!--A service that extends FirebaseInstanceIdService to handle the creation, rotation,
        and updating of registration tokens.
         This is required for sending to specific devices or for creating device groups.-->
        <service
            android:name="org.chat21.android.instanceid.service.SaveFirebaseInstanceIdService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="org.chat21.android.connectivity.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name="org.chat21.android.core.receivers.ShutdownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>

    </application>

</manifest>