<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gaayathri.logindemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LoginDemo"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label, theme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SecondActivity" />
        <activity
            android:name=".RegistrationActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".SellActivity"
            android:parentActivityName=".SecondActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ExpandedView" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".MyMaterialsActivity" />
        <activity android:name=".MyFavActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".EditMyMaterialsActivity" />
        <activity android:name=".EntryActivity" />

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".EditMyProfileActivity"/>

        <activity android:name=".SplashActivity">

        </activity>

        <activity
            android:name=".TabActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomeActivity">
            <intent-filter>
                <action android:name="NEW_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>